<?xml version="1.0"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="./src/bootstrap.php"
>
    <testsuites>
        <testsuite name="Full Statika Test Suite">
            <directory>./tests/Statika/</directory>
        </testsuite>
    </testsuites>
</phpunit>